body {
  background-color: Snow;
  color: Black;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: Maroon;
}

h2 {
  color: Maroon;
}

h3 {
  color: Maroon;
}

h4 {
  color: Maroon;
}

h5 {
  color: Maroon;
}
